<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DynamicWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FeeControl</display-name>
    <servlet-name>FeeControl</servlet-name>
    <servlet-class>ControlersPack.FeeControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeControl</servlet-name>
    <url-pattern>/FeeControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentControl</display-name>
    <servlet-name>StudentControl</servlet-name>
    <servlet-class>ControlersPack.StudentControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentControl</servlet-name>
    <url-pattern>/StudentControl</url-pattern>
  </servlet-mapping>
</web-app>